body, html {
  height: 100%;
  margin: 0;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/media/gemswsoschool.jpeg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bannertext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 10px;
  background-color: white;
}

.about {
  margin: 10px;
}

.portfolio {
  display: inline-block;
}
.portfolio img{
  max-height: 500px;
  max-width: 500px;
  border: 5px solid black;
}

/*Tablet Styling*/
@media screen and (max-width: 800px) {
  .portfolio {
    display: inline-block;
  }
  .portfolio img{
    max-height: 250px;
    max-width: 250px;
    border: 5px solid black;
  }
}

/*Phone Styling*/
@media screen and (max-width: 600px) {
  .portfolio {
    display: inline-block;
  }
  .portfolio img{
    max-height: 125px;
    max-width: 125px;
    border: 3px solid black;
  }
}