/*
Colors
#005598 GEMS Blue
#8d1658 GEMS Purple
#48a26a ECO Green
#f5b51f GEMS Yellow
#1e3676 ECO Blue
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-align: center;
}

* a {
  text-decoration: none;
}

h1 {
  color: #1e3676;
}

h2 {
  color: #48a26a;
}

body {
  margin: 0;
  background-color: white;
}

body a {
  color: #1e3676;
}
  
body a:hover {
  text-decoration-line: underline;
}

body a:active {
  color: #48a26a;
}

.button {
  background-color: #1e3676;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

button:hover{
  text-decoration-line: underline;
}

.button:active {
  background-color: #48a26a;
  color: white;
}

.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
  
.column {
  float: left;
}

i {
  color: #5c5c5c;
}

.navbar {
  overflow: hidden;
  background-color: #eeeeee;
  border-bottom: 1px solid black;
}
  
.navbar a {
  float: right;
  display: block;
  padding: 13px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.navbar a:hover {
  text-decoration-line: underline;
}
.navbar a:active {
  color: #1e3676;
}

.navbar .icon {
  display: none;
}

a.homeimg {
  padding: 5px;
  height: 45px;
  float: left;
}

.homeimg img {
  width: 14px;
  height: 40px;
  width: 40px;
}

.footop-col {
  flex-basis: 12%;
  text-align: center;
  min-width: 210px;
  float: left;
  height: 75px;
}

.footop-col img {
  width: 200px;
}

.foocoltxt {
  flex-basis: 12%;
  text-align: center;
  min-width: 210px;
  float: left;
  height: 75px;
  margin-left: 10px;
}

.foocoltxt p {
  margin: 5px 0px 0px 0px;
  font-weight: bold;
}

.footer-col {
  flex-basis: 12%;
  text-align: center;
  min-width: 175px;
  float: left;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #dedede;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 0px;
}

li {
    margin-bottom: 1px;
}

footer {
  margin-top: 10px;
  background: #383838;
  color: #dedede;
  font-size: 14px;
  padding: 25px 0px 5px;
}

footer a {
    color: #dedede;
}

footer a:hover {
    color: #afafaf
}

/*Tablet Styling*/
@media screen and (max-width: 800px) {
  .footop-col {
    flex-basis: 12%;
    text-align: center;
    min-width: 150px;
    float: left;
    height: 50px;
  }
  
  .footop-col img {
    width: 140px;
  }
  
  .foocoltxt {
    flex-basis: 12%;
    text-align: center;
    min-width: 200px;
    float: left;
    height: 50px;
    margin-left: 10px;
  }
  
  .foocoltxt p {
    font-weight: bold;
    margin: 5px 0px 0px 0px;
  }

  .footer-col {
    flex-basis: 12%;
    text-align: center;
    min-width: 275px;
    float: left;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Phone Styling*/
@media screen and (max-width: 600px) {
/*Header Styling*/

  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
    color: black;
  }

  .navbar a.icon:hover {
    color: #1e3676;
  }

  .navbar a.icon:active {
    color: #48a26a;
  }

  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    text-align: center;
  }

  /*Footer Styling*/

  .footop-col {
    flex-basis: 12%;
    text-align: center;
    min-width: 130px;
    float: left;
    height: 25px;
    margin-bottom: 5px;
  }
  
  .footop-col img {
    width: 120px;
  }
  
  .foocoltxt {
    flex-basis: 12%;
    text-align: center;
    min-width: 225px;
    float: left;
    height: 25px;
    margin-left: 10px;
  }
  
  .foocoltxt p {
    font-weight: bold;
    margin: 5px 0px 0px 0px;
  }

  .footer-col {
    flex-basis: 12%;
    text-align: center;
    min-width: 195px;
    float: left;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
  }
}